<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home" style=": ;">Paperam</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/routes">Routes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/customers">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bills">Bills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/payments">Payments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings">Settings</a>
      </li>
    </ul>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{user.name}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/logout"> 
          Logout
        <a class="dropdown-item" href="/profile">Profile</a>
      </div>
    </div>
  </div>
</nav>