<head>
    <title>Paperam</title>
</head>
<div class="row mt-3">
    <div class='col-12 col-md-4 '>
        <a href="/routes">
            <div class='mx-auto'>
                <img src="/images/routes.jpg" style="height: 12rem;width: 50rem;" class="img-fluid p-3" />
                <div style="text-align: center;">
                    <h2>Routes</h2>
                </div>
            </div>
        </a>
    </div>
    <div class='col-12 col-md-4 '>
        <a href="/customers">
            <div class='mx-auto'>
                <img src="/images/customers.jpeg" style="height: 12rem;width: 50rem;" class="img-fluid p-3" />
                <div style="text-align: center;">
                    <h2>Customers</h2>
                </div>
            </div>
        </a>
            </div>
    <div class='col-12 col-md-4'>
        <a href="/bills">
            <div class='mx-auto'>
                <img src="/images/bills.jpeg" style="height: 12rem;width: 50rem;" class="img-fluid p-3" />
                <div style="text-align: center;">
                    <h2>Bills</h2>
                </div>
            </div>
        </a>
            </div>
    <div class='col-12 col-md-4'>
        <a href="/payments">
            <div class=' mx-auto'>
                <img src="/images/payments.jpeg" style="height: 12rem;width: 50rem;" class="img-fluid p-3" />
                <div style="text-align: center;">
                    <h2>Payments</h2>
                </div>
            </div>
        </a>
            </div>
    <div class='col-12 col-md-4'>
        <a href="/settings">
            <div class='mx-auto'>
                <img src="/images/settings.jpeg" style="height: 12rem;width: 50rem;" class="img-fluid p-3" />
                <div style="text-align: center;">
                    <h2>Settings</h2>
                </div>
            </div>
        </a>
    </div>
</div>